# Ignore data, outputs, logs, and MLflow runs
/data/
/outputs/
/logs/
/mlruns/
/notebooks/data
# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.ipynb_checkpoints/
.DS_Store
changes.md

# Ignore large model files
best_model_epoch_*.pt
Output/best_model_epoch_*.pt
Output/*
# Ignore distributed and training logs
q.log/*

q.log/MUSH-mask2former.0004158
wandb/*
.MUSH-agent.4345
